.Rproj.user
.Rhistory
.RData
^.*\.DS_Store
/.DS_Store

/Slides/useR 2013/Slides.aux
/Slides/useR 2013/Slides.log
/Slides/useR 2013/Slides.nav
/Slides/useR 2013/Slides.out
/Slides/useR 2013/Slides.snm
/Slides/useR 2013/Slides.tex
/Slides/useR 2013/Slides.toc
/Slides/useR 2013/Slides.tpbuild
/Slides/useR 2013/Slides.vrb
/Slides/useR 2013/Sweave.sty

/Slides/NEAIR2013 Slides/Slides.log
/Slides/NEAIR2013 Slides/Slides.snm
/Slides/NEAIR2013 Slides/Slides.tex
/Slides/NEAIR2013 Slides/Slides.toc
/Slides/NEAIR2013 Slides/Slides.tpbuild
/Slides/NEAIR2013 Slides/Slides.vrb
/Slides/NEAIR2013 Slides/Sweave.sty

/psa.Rproj

/Slides/.DS_Store

/Slides/UAlbany2014/.DS_Store
/Slides/UAlbany2014/Slides.aux
/Slides/UAlbany2014/Slides.log
/Slides/UAlbany2014/Slides.nav
/Slides/UAlbany2014/Slides.out
/Slides/UAlbany2014/Slides.snm
/Slides/UAlbany2014/Slides.toc
/Slides/UAlbany2014/Slides.tpbuild
/Slides/UAlbany2014/Slides.vrb
/Slides/UAlbany2014/Sweave.sty
/Slides/UAlbany2014/texput.log

/Slides/useR2013/Slides.aux
/Slides/useR2013/Slides.log
/Slides/useR2013/Slides.nav
/Slides/useR2013/Slides.out
/Slides/useR2013/Slides.snm
/Slides/useR2013/Slides.tex
/Slides/useR2013/Slides.toc
/Slides/useR2013/Slides.tpbuild
/Slides/useR2013/Slides.vrb
/Slides/useR2013/Sweave.sty

/data/.DS_Store

/_book/

/book/.rmdbuild

/Articles-orig/
/Articles/

/Propensity Score Analysis Workshop.docx

R-Scripts/.DS_Store
Slides/Albany R Meetup/Sweave.sty
lindner.csv
Slides/Albany R Meetup/Slides.tpbuild
config.R
inst/shiny/psa/rsconnect
.DS_Store
